<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <%- include('./partials/head.ejs') %>
  <body>
    <header class="bg-slate-600 mb-4">
      <%- include('./partials/navbar.ejs') %>
    </header>
    <main class="container mx-auto">
      <form action="/createMovie" method="POST">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Image Link</span>
          </label>
          <input
            type="text"
            placeholder="Some Link to Movie Image"
            class="input input-bordered"
            name="imgLink"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Movie Name</span>
          </label>
          <input
            type="text"
            placeholder="Avengers: Endgame"
            class="input input-bordered"
            name="movieName"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Movie Rating</span>
          </label>
          <input
            type="number"
            placeholder="7.5"
            class="input input-bordered"
            name="rating"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Description</span>
          </label>
          <textarea
            class="textarea textarea-bordered h-24"
            placeholder="Description"
            name="description"
            required
          ></textarea>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Pick a Category</span>
          </label>
          <select name="selectCategory" class="select select-bordered" required>
            <option disabled selected value="">-- Category --</option>
            <% categories.forEach((category)=>{ %>
            <option value="<%= category.categoryid %>">
              <%= category.categoryname %>
            </option>
            <% }) %>
          </select>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Pick a Publisher</span>
          </label>
          <select
            name="selectPublisher"
            class="select select-bordered"
            required
          >
            <option disabled selected value="">-- Publisher --</option>
            <% publishers.forEach((publisher)=>{ %>
            <option value="<%= publisher.publisherid %>">
              <%= publisher.publishername %>
            </option>
            <% }) %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Create Movie</button>
      </form>
    </main>
  </body>
</html>
